<div class="bottom-nav-container">
  <ion-tab-bar class="custom-tab-bar">
    <!-- Sliding liquid-glass indicator -->
    <div class="glass-pill" [class.pos-social]="activeSection === 'social'"
      [class.pos-center]="activeSection === 'center'" [class.pos-receipt]="activeSection === 'receipt'">
    </div>

    <!-- Social Button -->
    <ion-tab-button class="nav-button" [class.active]="activeSection === 'social'" (click)="openSocial()">
      <ion-icon name="people"></ion-icon>
      <ion-label>Social</ion-label>
      <ion-badge *ngIf="notificationBadgeCount > 0" color="danger" class="social-badge"
        >{{ notificationBadgeCount }}</ion-badge
      >
    </ion-tab-button>

    <!-- Main Button: Add or Home -->
    <ion-tab-button class="add-button" (click)="addHabitBusiness()">
      <div class="add-circle">
        <ion-icon [name]="mainButton === 'home' ? 'home' : 'add'"></ion-icon>
      </div>
    </ion-tab-button>

    <!-- Weekly Receipt / Achievements Button -->
    <ion-tab-button class="nav-button" [class.active]="activeSection === 'receipt'" (click)="openWeeklyReceipt()">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Awards</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
