<ion-header [translucent]="true">
  <ion-toolbar class="page-toolbar">
    <ion-title>📈 Stock Market</ion-title>
    <ion-button
      *ngIf="currentUser"
      slot="end"
      fill="clear"
      routerLink="/settings"
      class="header-action-btn icon-box-btn grey-outline"
    >
      <ion-icon name="settings" slot="start"></ion-icon>
      <span class="btn-label">Settings</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-stocks-content></app-stocks-content>
</ion-content>

<!-- Fixed Bottom Navigation -->
<app-bottom-nav mainButton="home"></app-bottom-nav>
